<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cheerly"
        android:label="Cheerly"
        android:roundIcon="@drawable/cheerly_transparent"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cheerly"
        tools:targetApi="31">

        <!-- Splash Activity as launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Cheerly">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Cheerly" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Cheerly" />

        <!-- User Preference Activity -->
        <activity
            android:name=".UserPrefrence"
            android:exported="false"
            android:theme="@style/Theme.Cheerly" />

        <!-- Prompt Activity -->
        <activity
            android:name=".PromptActivity"
            android:exported="false"
            android:theme="@style/Theme.Cheerly" />

        <!-- Mood Recommendation Activity -->
        <activity
            android:name=".MoodRecommendationActivity"
            android:exported="false"
            android:theme="@style/Theme.Cheerly" />

        <!-- Premium Manager -->
        <activity
            android:name=".Premium.PremiumManager"
            android:exported="false"
            android:theme="@style/Theme.Cheerly"
            tools:ignore="Instantiatable" />

        <!-- Spotify Authentication Activity -->
        <activity
            android:name="com.spotify.sdk.android.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="callback"
                    android:scheme="cheerly" />
            </intent-filter>
        </activity>

        <!-- Google/YouTube Sign-in Activity -->
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:ignore="MissingClass" />

    </application>

</manifest>